/*
    Author: João Pedro Machado Silva - BV3032477 
    Data da Implementação: 07/05/2025
*/

body{
    text-align: center ;
    align-items: center;
    padding: 80px;
    background-color: lightgreen;
}

.container{
    border-radius: 20px;
}

form{
    padding: 20px;
    background-color:aliceblue;
}
