/*
    Author: João Pedro Machado Silva - BV3032477 
    Data da Implementação: 10/04/2025
*/

body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.site-header {
    background-color: lime;
    padding: 30px;
}

.footerFixed{
    position: absolute;
    bottom: 0;
    width: 98.4%;
    padding: 15px;
}

.corpo{
    display: flex;
}

aside{
    background-color: blue;
    height: 420px;
    padding-top: 420px;
}

main{
    background-color: cyan;
    width: 100%;
    height: 408px;
    padding-top: 408px;
}